*{margin: 0px;
    padding: 0px;
    border: 0px;
   font-family: 'Overpass', sans-serif;
   }
   
   button:hover{
       opacity: 70%;
   }
   
   button:active{
       border-bottom: 3px solid red;

   
   }

   body {
    overflow-y: scroll;
  }
  