*{margin: 0px;
    padding: 0px;
    border: 0px;
   font-family: 'Overpass', sans-serif;
   }
   
   button:hover{
       opacity: 70%;
   }
   
   button:active{
       border-bottom: 3px solid red;

   
   }

   body {
    overflow-y: scroll;
  }


  


  

  @media (max-width: 768px) {
  
  .hamburger-icon {
    display: block;
  }

  .mobile-menu {
    display: flex;
  }

  .desktop-menu {
    display: none;
  }
}

  

